//styling for the overall slide view pane

.slide-editor {
    position: absolute;
    top: 4rem;
    left: 2rem;
    right: 2rem;
    box-shadow: 0 2px 4px 0 #444;
    height: 35em;
    border-radius: 0.25em;
}
